[Desktop Entry]
Encoding=UTF-8
Name=Eziocoin
Comment=Eziocoin P2P Cryptocurrency
Comment[fr]=Eziocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Eziocoin, eşten eşe kriptografik sanal para birimi
Exec=dash-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/dash;
Categories=Office;Finance;
